#logo{
  text-align: center;
  background-color: rgb(150,250,200);
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 550;
  font-style: normal;
}

#vlist, #hlist{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#vlist a{
  display: block;
  width: 100px;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: rgb(190, 190, 190);
  margin: 20px;
  padding: 10px;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 450;
  font-style: normal;
}

#vlist a:hover{
  background-color:rgb(10, 200, 170);
  color: whitesmoke;
}

#hlist{
  background-color: rgb(190, 190, 190);
  overflow: hidden;
  position: sticky;
  top: 0px;
}

#hlist li{
  display: inline;
  float: left;
}

#hlist a{
  display: block;
  text-decoration: none;
  color:black;
  padding: 20px;
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 20px;
  font-weight: 450;
  font-style: normal; 
}

#hlist a:hover{
  background-color:  rgb(10, 200, 170)   ;
  color:  whitesmoke  ;
}

#div1 {
  width: 100%;
  height: 2000px;
  background-color:rgb(96,96,96);
}

#projects, #services{
  position: absolute;
  background-color: aquamarine;
  visibility: hidden;
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 20px;
  font-weight: 450;
  font-style: normal; 
}